/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --bright: #f5f4f0;
  --main: #fe8a02;
  --dark-main: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --dark-link: #ea7600;
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: normal;
  font-family: Neucha;
  src: url("../../assets/fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.content-container {
  position: relative;

  display: flex;
  justify-content: center;

  background-color: var(--bright);
}

.content-container::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.content-section {
  position: relative;

  width: 1110px;

  padding: 100px 0;
}

/** Header section **/

.text-section {
  columns: 2;
  column-gap: 30px;
}

.text-section p {
  margin-top: 0;
  break-inside: avoid;
}

.m-top-201 {
  margin-top: 201px;
}

.header-btn {
  display: block;
  width: 100px;
  height: 25px;

  margin-top: 40px;
  margin-left: 570px;

  padding: 12px 24px;

  color: var(--white);

  font-weight: bold;
  font-family: inherit;

  text-transform: uppercase;
  text-decoration: none;

  background: var(--main);

  border: none;
}

.header-btn:hover {
  background: var(--dark-link);
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;

  display: block;

  height: 525px;
}

/** Header Section End **/

/** Video section **/

.video-container {
  display: flex;
  justify-content: center;

  background-color: var(--white);
}

.video-header {
  position: relative;

  height: 714px;

  text-align: center;
}

.video {
  position: absolute;
  top: 229px;
  right: 0;
  left: 0;

  z-index: 1;

  margin: auto;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.mg-video {
  margin: 27px 0 30px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

/** Video Section End **/

/** Navigation section **/

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-item {
  display: block;
  width: 302px;

  margin-top: 20px;
  padding: 24px;

  color: var(--dark);
  text-decoration: none;

  background: #f5f4f0;
}

.navigation-item h3 {
  color: var(--main);
}

.navigation-item p {
  margin-bottom: 0;
}

.navigation-item:hover {
  color: var(--white);

  background: var(--main);
}

.navigation-item:hover h3 {
  color: var(--white);
}

.navigation-item-number {
  margin-bottom: 40px;

  font: 64px/1 Neucha, sans-serif;
}

.navigation-header {
  width: 350px;

  text-align: left;
}

.nav-p-top {
  padding-top: 200px;
}

/** Navigation Section End **/

/** IKEA Effect **/

.ikea-header {
  margin-left: 38px;
}

.ikea-header-breaf {
  color: #908d8b;

  font: 24px/1.8rem Neucha, sans-serif;
}

.mg-bt-30 {
  margin-bottom: 30px;
}

.ikea-header-text {
  font: 34px/2.55rem Neucha, sans-serif;
}

.text-section h4 {
  padding: 5px 0 5px 10px;
  margin: 100px 0 20px;
  font-size: 14px;

  color: var(--white);

  text-transform: uppercase;
  column-span: all;

  background: var(--brown);
}

.image-1 {
  filter: drop-shadow(0px 16px 32px rgba(0 0 0/ 15%));
}

/** IKEA Effect End **/

.text-color-main {
  color: var(--main);
}

.text-color-white {
  color: var(--white);
}

.bg-dark-main {
  background: var(--dark-main);
}

.mg-0 {
  margin: 0;
}

.font-size-52 {
  font-size: 52px;
}
