@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: normal;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

.page {
  box-sizing: border-box;
  margin: 0;
  font: 16px/1.6 "Open Sans", sans-serif;
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
}

.section_bg-img-enable::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: top left/cover no-repeat url("../../../assets/images/background.png");
  opacity: 0.1;
  content: "";
}

.section_bg_light {
  background-color: #f5f4f0;
}

.section_bg_dark {
  background-color: #42413c;
}

.section_bg_white {
  background-color: #fff;
}

.section_bg_brown {
  background-color: #b09a81;
}

.section__inner {
  flex: 0 1 1100px;
  padding: 100px 0;
}

.section-divider {
  width: 100%;
  height: 100px;
  background: #42413c;
}

.title {
  margin: 0;
  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.title_size_lg {
  font-size: 72px;
}

.title_size_md {
  font-size: 60px;
}

.title_size_sm {
  font-size: 34px;
}

.title__primary {
  color: #fe8a02;
}

.title__dark {
  color: #2a2626;
}

.title__white {
  color: #fff;
}

.columns {
  display: flex;
  gap: 30px;
}

.columns__inner {
  width: 50%;
}

.columns__text {
  margin-top: 0;
}

.btn {
  display: block;
  width: max-content;
  padding: 12px 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #fe8a02;
  transition: background 0.3s;
}

.btn:hover {
  background: #ea7600;
}

.header {
  overflow-x: hidden;
}

.header__inner {
  position: relative;
}

.header__title {
  position: relative;
  z-index: 2;
  margin: 8px 0 190px;
}

.header__img {
  position: absolute;
  top: 55px;
  right: -275px;
  z-index: 1;
  height: 525px;
}

.header__btn {
  margin-top: 38px;
}

.video-section {
  position: relative;
}

.video-section__inner {
  padding-bottom: 485px;
}

.video-section__title {
  text-align: center;
}

.video-section__caption {
  margin: 24px 0 27px;
  text-align: center;
}

.video-section__player {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -86px;
  z-index: 1;
  display: block;
  width: 919px;
  height: 569px;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}