doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Когнитивные искажения
    link(rel='stylesheet' href='../styles/style.css')
  body.page
    header.header.section.section_bg_light.section_bg-img-enable
      .header__inner.section__inner
        h1.header__title.title.title_size_lg
          span.title__primary Когнитивные #[br] искажения #[br]
          span.title__dark в программировании
        img.header__img(src="../assets/images/main.png" alt="Нарисованный человечек сидит с ноутбуком на фоне вопросительных знаков")
        .columns
          .columns__inner
            p.columns__text Мы, разработчики, часто сталкиваемся с проблемами, которые идут вразрез с нашей продуктивностью. Но мы часто игнорируем целостную картину. Некоторые из этих проблем малозаметны, некоторые существенны. Иногда с ними можно как-то справиться, а иногда, к сожалению, нет.
          .columns__inner
            p.columns__text Вместе они формируют что-то вроде замкнутого цикла, и это может привести к длительной потере продуктивности, багам и бесконечному разочарованию.
            p.columns__text Если мы сможем минимизировать воздействие одного или нескольких из этих факторов, то сможем сломать и цикл, а остатки нейтрализовать.
            a(href="#navigation").header__btn.btn Подробнее
    main
      section.video-section.section.section_bg_white
        .video-section__inner.section__inner
          h2.video-section__title.title.title_size_md
            span.title__dark Что же это такое, #[br]
            span.title__primary когнитивные искажения?
          p.video-section__caption Что такое когнитивные искажения. Petrovna Channel
          iframe.video-section__player(src="https://www.youtube.com/embed/jie9AizBqss", frameborder="0", allowfullscreen)
      section#navigation.nav-section.section.section_bg_dark
        nav.nav-section__inner.section__inner
          h3.title.title_size_sm
            span.title__primary 5 когнитивных искажений #[br]
            span.title__white о существовании которых стоит помнить

          mixin nav-item(number, header, description)
            a.nav-item
              p.nav-item__number #{number}
              h4.nav-item__title.title.title_size_xs
                span.title__primary #{header}
              p.nav-item__description #{description}

          +nav-item("1", "Эффект ИКЕА", "Вы переоцениваете собственные решения, и, как следствие, недооцениваете решения других.")
          +nav-item("2", "Преждевременная оптимизация", "Вы оптимизируете что-то задолго до того, как в этом появляется необходимость.")
          +nav-item("3", "Искажение новизны", "Вы даёте более высокую оценку тем событиям, которые произошли недавно, и недооцениваете более старые.")
          +nav-item("4", "Гиперболическое обесценивание", "Вы гонитесь за немедленной маленькой выгодой и игнорируете более крупную, недоступную сейчас, но доступную в будущем.")
          +nav-item("5", "Ошибка планирования", "Неправильно рассчитывать время необходимое для завершения задачи.")
      section#ikea-effect.section.section_bg_light.section_bg-img-enable
        .section__inner
          .article-header.article-header_right
            img.article-header__img(src="../assets/images/1.png" alt="Два нарисованных человечка сидят за компьютером. Один показывает рукой в монитор, а второй недоумевает")
            .article-header__wrapper
              h2.article-header__title.title.title_size_md
                span.title__dark Эффект ИКЕА
              p.article-header__description Вы переоцениваете собственные решения, и, как следствие, недооцениваете решения других.
          h4.article-title.article-title_dark Как проявляется
          .columns
            .columns__inner
              p.columns__text Когнитивное искажение называется так из-за того, что потребители зачастую предпочитают покупать товары, которые они могут собрать сами, а не уже собранные кем-то.
            .columns__inner
              p.columns__text Мы склонны переоцнивать наши собственные решения и недооценивать решения других. Если вы когда-то работали в компании, которая использовала тупой внутренний инструмент вместо более удобного готового решения, вы понимаете, о чём я говорю.
      section#premature-optimization.section.section_bg_brown.section_bg-img-enable
        .section__inner
          .article-header.article-header_left
            img.article-header__img(src="../assets/images/2.png" alt="Нарисованный человечек смотрит и указывает рукой на то, как из экрана ноутбука взлетает ракета")
            .article-header__wrapper
              h2.article-header__title.title.title_size_md
                span.title__dark Преждевременная оптимизация
              p.article-header__description Вы оптимизируете что-то задолго до того, как в этом появляется необходимость.
          h4.article-title.article-title_light Как проявляется
          .columns
            .columns__inner
              p.columns__text Если вы добавите аэродинамический спойлер к своему старому автомобилю вместо ремонта мотора, то автомобиль не станет быстрее.
            .columns__inner
              p.columns__text Отличный пример: писать максимально подтюненный и высокопроизводительный код для всего лишь экспериментального проекта.
      section#distortion-of-novelty.section.section_bg_light.section_bg-img-enable
        .section__inner
          .article-header.article-header_right
            img.article-header__img(src="../assets/images/3.png" alt="Над нарисованным человечком загорается лампочка идеи и он вскидывает руку. При это рядом с ним уже стоит мусорная корзина с надписью 'Идеи' полная смятых бумажек")
            .article-header__wrapper
              h2.article-header__title.title.title_size_md
                span.title__dark Искажение новизны
              p.article-header__description Вы даёте более высокую оценку тем событиям, которые произошли недавно, и недооцениваете более старые.
          h4.article-title.article-title_dark Как проявляется
          .columns
            .columns__inner
              p.columns__text Часто это искажение настигает нас, когда нужно решение проблемы и… о! Мы как раз только что решили подобную проблему! Давайте использовать это же решение, потому что оно сработало, и мы помним как!
            .columns__inner
              p.columns__text Вы замечаете, что пользуетесь теми же рабочими методиками раз за разом? Если да, возможно, вы смотрите на разные проблемы под одним и тем же углом.
    footer


