.section {
  position: relative;
  display: flex;
  justify-content: center;

  &_bg-img-enable {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: top left / cover no-repeat url("../../../assets/images/background.png");
      opacity: 0.1;
      content: "";
    }
  }

  @each $color-name, $color-value in $bg-colors {
    &_bg_#{$color-name} {
      background-color: $color-value;
    }
  }

  &__inner {
    flex: 0 1 1100px;
    padding: 100px 0;
  }
}
